:root {
	--WIDTH: 1000px;
	--HEIGHT: 1300px;
	--BODYCOLOR: #DCDCDC;
	--HEADERCOLOR: #ffb833;
	--FOOTERCOLOR:  #333;
	--SECTIONCOLOR: #ffb833;
	--NAVCOLOR: orange;
	--MAINCOLOR: white;
}

ol {
	/*display: list-item;*/
	/*list-style-type: circle;*/
	/*list-style: none;*/
	padding: 10px;
	/*background: #E8E8E8; // gainsboro;*/
	margin: 0;
}

li {
	border-left: 5px solid orange;
	padding: 10px 20px;
	list-style-position: inside;
	background: #E8E8E8; // gainsboro;
	margin: 10px;
}

.exercise {
	display: none;
	padding: 5px 5px;
}

.todo {
	display: none;
	padding: 5px 5px;
}

#lab {
	display: block;
}

#timeline {
	display: none;
}

#guidelines {
	display: none;
}
