
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--BODYCOLOR); 
}

body {font-family: Verdana, sans-serif; margin:0}
/*body {font-family: "Times New Roman", Times, cursive; margin:0}*/
/*body {font-family: Arial, Helvetica, sans-serif; margin:0}*/
/*body {font-family: Courier, fantasy; margin:0}*/
/*body {font-family: Comic, monospace; margin:0}*/
/*body {font-family: "Times New Roman", monospace; margin:0}*/
/*body {font-family: Helvetica, sans-serif; margin:0}*/


/* Header and footer */
header {
  background-color: var(--HEADERCOLOR); 
  overflow: auto;
  width: 100%;
  padding: 10px;
  text-align: center;
  /*color: white; // #585858;*/
  color: black;
  font-size: 20px;
}

.date {
	/*background-color: var(--NAVCOLOR);*/
	float: left;
	width: 20%;
	height: 100%;
	text-align: left;
	padding: 1px;
	font-size: 10px;
}

.labNr {
	/*background-color: var(--NAVCOLOR);*/
	float: left;
	width: 40%;
	height: 100%;
	text-align: center;
	padding: 1px;
	font-variant: small-caps;
	font-size: 22px;
}

.labDescription {
	/*background-color: var(--NAVCOLOR);*/
	float: right;
	width: 40%;
	height: 100%;
	text-align: right;
	padding: 1px;
	font-variant: small-caps;
	font-size: 18px;
}

footer {
	background-color: var(--FOOTERCOLOR);
   width: 100%;
	padding: 10px;
	text-align: center;
	/*color: #585858;*/
	color: orange;
	font-size: 18px;
}

/* Section: navigation and main */
section {
	background-color: var(--SECTIONCOLOR); 
	width: 100%;
	overflow: auto; /* to clearfix; because section contains floats */
	/*height: var(--HEIGHT);*/
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
	float: left;
	font-weight: normal;
	font-variant: small-caps;
	color: orange;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
	font-size: 20px;
}

.topnav a:hover {
  /*background-color: #ddd;*/
  background-color: orange;
  color: black;
}

.topnav a.active {
  /*background-color: #4CAF50;*/
  background-color: #4CAF50;
  /*color: white;*/
  color: orange;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 10;
  left: 0;
  background-color:  #333;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: orange;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

nav {
	/*background-color: var(--NAVCOLOR);*/
	float: left;
	width: 14%;
	height: 100%;
	text-align: left;
	padding: 15px;
}

/* Main section: contains floats */
main {
	background-color: var(--MAINCOLOR);
	float: left;
	/*padding: 10px;*/
	width: 85%;
	height: 100%;
}

h1 {
	padding: 2px 6px;
	font-size: 20px;
	font-weight: normal;
	font-variant: small-caps;
	color: navy;
}



