/* To remove default browser styling */
* {
  border: 0;
  padding: 0;
  margin: 0;
}
.student-icon {
  width: 28vw;
  height: auto;
  margin-right: 8px;
}
body {
  font-family: 'Courier New', monospace;
  background-color: powderblue;
}