
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	<div class="stepsTuX" id="labTuX" style="display:none">
		<a href="javascript:void(0)" onclick="toggleLi('exTuX'); toggleLi('todoTuX'); ">STEP X</a>
	</div>
	<div class="stepsThX" id="labThX" style="display:none">
		<a href="javascript:void(0)" onclick="toggleLi('exThX'); toggleLi('todoThX'); ">STEP X</a>
	</div>
	<div class="stepsHwX" id="labHwX" style="display:none">
		<a href="javascript:void(0)" onclick="toggleLi('exHwX'); toggleLi('todoHwX'); ">STEP X</a>
	</div>
	<div class="steps" id="labTuS">
		STEPS
	</div>
	<div class="steps" id="labThS">
		STEPS
	</div>
	<div class="steps" id="hwS">
		STEPS
	</div>
